<%- include('./partials/header.ejs')%>
    <main>
        <div id="Information">
            <h1 id="Title">Express Video Games</h1>
            <br><br>
            <p id="Intro">A marketplace for those that loves video games. Here you will be able to browse a large
                variety of items
                to find what you love, or sell anything you want.
            </p>
            <br><br>
            <button type="button" id="BrowseButton" onclick="location.href='/items'">Start Browsing<i
                    class="fa fa-arrow-right"></i></button>
            <br><br>
        </div>
        <img id="Consoles" src="images/Consoles.jpeg" alt="Consoles">
    </main>
<%- include('./partials/footer.ejs')%>