<%- include('../partials/header.ejs')%>
<main class="new-user-container">
    <div class="signup">
        <p id="signup-info">Join Fellow Video Game Lovers!</p>
        <br>
        <p>to buy and sell video games</p>
    </div>

    <div class="signup">
        <form method = "POST" action= "/users">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstName" placeholder="first name" required>
            <br><br>
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName" placeholder="last name" required>
            <br><br>
            <label for="signup-email">Email</label>
            <input type="email" id="signup-email" name="email" placeholder="email" required>
            <br><br>
            <label for="signup-password">Password</label>
            <input type="password" id="signup-password" name="password" placeholder="password" required>
            <input type="submit" id="signup-submit" value="Sign Up">
        </form>
    </div>

</main>

<%- include('../partials/footer.ejs')%>